<p id="notice"><%= notice %></p>

<div class= "columns mt-6 is-centered">
      <% @categories.each do |category| %>
      <div class="column is-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">Category</p>
          </header>
          <div class="card-content">
            <div class="content">
              <p><span class="has-text-weight-bold"><%= category.title %></span></p>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', category, class: "card-footer-item" %>
            <%= link_to 'Edit', edit_category_path(category), class: "card-footer-item" %>
            <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-footer-item" %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<br>

<div class="columns is-centered mt-6">
  <%= link_to 'New Category', new_category_path, class: "button is-link is-outlined is-centered" %>
</div>